:root {
    --primary-colour: #000;
    --secondary-colour: #aaa;
    --warning-colour: #f00;
    --test-colour: purple;
}

.absolute aside {
    right: 1rem;
    position: absolute;
    top: 2rem;
}

.asideblock {
    left: 36%;
    position: absolute;
}

.block p {
    background-color: #77777780;
    display: block;
    height: fit-content;
    text-align: center;
    width: 33%;
}

.block span {
    background-color: #f3bb0293;
    display: block;
    margin: 0.5rem;
}

.centrada{
    text-align: center;
}

.columnas {
    column-count: 3;
    /* column-count: 6; */
    column-gap: 1rem;
    padding: 0.5rem;
}

.columnnowrap {
    display: flex;
    flex-direction: column-reverse;
    /* WARNING: column-reverse can cause accesibility problems */
    height: 12rem;
    justify-content: space-between;
}

.columnwrap {
    align-content: center;
    display: flex;
    flex-flow: wrap column;
    height: 12rem;
}

.fixed aside {
    right: 1rem;
    position: fixed;
    top: 2rem;
}

.flexbox div div {
    background-color: #f008;
    font-size: 3rem;
    height: 6rem;
    width: 6rem;
}

.grid-cuatro {
    grid-area: cuatro;
}

.grid-cuatro div {
    flex-grow: 1;
}

.grid-dos {
    grid-area: dos;
}

.grid-tres {
    grid-area: tres;
}

.grid-uno {
    grid-area: uno;
}

.grid {
    display: grid;
    grid-template-areas:
        "uno dos dos tres"
        ". dos dos tres"
        "cuatro cuatro cuatro cuatro";
    grid-template-columns: 1fr 2fr 3fr 4fr;
    grid-template-rows: minmax(5rem, 7rem);
}

.grid > div {
    border: 1px solid black;
}

.grid div {
    display: flex;
    flex-grow: 1;
}

.grid div div {
    background-color: #179c44ab;
    font-size: 3rem;
}

.inline p {
    background-color: #5f9ea080;
    display: inline;
    height: fit-content;
    text-align: center;
}

.inlineblock p {
    background-color: #228b2280;
    display: inline-block;
    height: fit-content;
    text-align: center;
    width: 33%;
}

.oculta {
    position: absolute;
    left: -9999px;
}

.radiobuttons {
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.2em;
    border: 1px solid var(--primary-colour);
}

.relative aside {
    right: 1rem;
    position: relative;
    top: 2rem;
}

.rownowrap {
    display: flex;
    flex-direction: row-reverse;
    /* WARNING: row-reverse can cause accesibility problems */
    justify-content: center;
}

.rowwrap {
    align-content: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 12rem;
}

.sticky aside {
    right: 1rem;
    position: sticky;
    top: 2rem;
}

a {
    text-decoration: none;
    color: var(--primary-colour);
}

aside {
    background-color: #7ff3da9a;
    width: fit-content;
}

code {
    background-color: #967e5f80;
    font-family: 'Courier New', Courier, monospace;
}

fieldset {
    display: inline-block;
    width: 45%;
}

footer {
    text-align: center;
    padding-top: 1em;
}

h1 {
    text-align: center;
}

header {
    padding: 0 1em;
}

main {
    padding: 2em 6em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}


/* PRUEBAS CON SELECTORES */

.clase_uno {
    color: var(--primary-colour) !important;
}

main ul li:first-child {
    color: var(--warning-colour);
}

#id_dos{
    color: var(--secondary-colour);
}

main ul li:nth-child(even) {
    color: var(--warning-colour);
}

.clase_dos {
    color: var(--primary-colour);
}

main ul li:nth-child(3) {
    color: var(--secondary-colour);
}

main ul li:nth-child(3) {
    color: var(--test-colour);
}

.clase_tres {
    color: var(--primary-colour);
}

.clase_cuatro {
    color: var(--primary-colour);
}