:root {
    --primary-colour: #000;
    --secondary-colour: #aaa;
    --warning-colour: #f00;
}

.centrada{
    text-align: center;
}

.oculta {
    position: absolute;
    left: -9999px;
}

.radiobuttons {
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0.2em;
    border: 1px solid var(--primary-colour);
}

a {
    text-decoration: none;
    color: var(--primary-colour);
}

fieldset {
    display: inline-block;
    width: 45%;
}

footer {
    text-align: center;
    padding-top: 1em;
}

h1 {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

/* Pruebas con selectores */

.clase_uno {
    color: var(--primary-colour);
}

#id_uno{
    color: var(--secondary-colour);
}

main ul:first-child {
    color: var(--warning-colour);
}